<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.baseinfo.dao.WechatDao">

	<select id="get" resultType="com.bootdo.baseinfo.domain.WechatDO">
		select `id`,`uid`,`Wechat`,`Password`,`Data62`,`LastDate`,`TotalTaskQuantity`,`TodayTaskQuantity`,`Stauts`,`Remark`,`Createdate`,`Modifydate`,`Taskid`,`randomid`,`sessionkey`,`deviceid`,`maxsynckey`,`uin`,`AutoAuthKey`,`Cookies`,`CurrentsyncKey`,`DeviceName`,`DeviceType`,`NickName`,`UserName`,`UserExt` from use_wechat where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.baseinfo.domain.WechatDO">
		select use_wechat.`id`,`uid`,t2.username,use_wechat.`Wechat`,use_wechat.`Password`,`Data62`,`LastDate`,
		`TotalTaskQuantity`,`TodayTaskQuantity`,use_wechat.`Stauts`,`Remark`,`Createdate`,`Modifydate`,`Taskid`,
		`randomid`,`sessionkey`,`deviceid`,`maxsynckey`,`uin`,`AutoAuthKey`,`Cookies`,`CurrentsyncKey`,
		`DeviceName`,`DeviceType`,`NickName`,use_wechat.`UserName` user,`UserExt`
		from use_wechat left join sys_user t2 on use_wechat.uid=t2.user_id
        <where>  
		  		  <if test="id != null and id != ''"> and use_wechat.id = #{id} </if>
		  		  <if test="uid != null and uid != ''"> and uid = #{uid} </if>
		  		  <if test="wechat != null and wechat != ''"> and use_wechat.Wechat = #{wechat} </if>
		  		  <if test="password != null and password != ''"> and use_wechat.Password = #{password} </if>
		  		  <if test="wechatNo != null and wechatNo != ''"> and use_wechat.Wechat != #{wechatNo} </if>
		  		  <if test="data62 != null and data62 != ''"> and Data62 = #{data62} </if>
		  		  <if test="lastdate != null and lastdate != ''"> and LastDate = #{lastdate} </if>
		  		  <if test="totaltaskquantity != null and totaltaskquantity != ''"> and TotalTaskQuantity = #{totaltaskquantity} </if>
		  		  <if test="todaytaskquantity != null and todaytaskquantity != ''"> and TodayTaskQuantity = #{todaytaskquantity} </if>
		  		  <if test="stauts != null and stauts != ''"> and use_wechat.Stauts = #{stauts} </if>
		  		  <if test="remark != null and remark != ''"> and Remark = #{remark} </if>
		  		  <if test="createdate != null and createdate != ''"> and Createdate = #{createdate} </if>
		  		  <if test="createdatelessthanoneday != null and createdatelessthanoneday != ''"> and createdate &lt;= DATE_FORMAT(date_sub(curdate(),interval 1 day),'%Y-%m-%d %h:%i:%s') </if>
		  		  <if test="modifydate != null and modifydate != ''"> and Modifydate = #{modifydate} </if>
		  		  <if test="taskid != null and taskid != ''"> and Taskid = #{taskid} </if>
		  		  <if test="randomid != null and randomid != ''"> and randomid = #{randomid} </if>
		  		  <if test="sessionkey != null and sessionkey != ''"> and sessionkey = #{sessionkey} </if>
		  		  <if test="deviceid != null and deviceid != ''"> and deviceid = #{deviceid} </if>
		  		  <if test="maxsynckey != null and maxsynckey != ''"> and maxsynckey = #{maxsynckey} </if>
		  		  <if test="uin != null and uin != ''"> and uin = #{uin} </if>
		  		  <if test="autoauthkey != null and autoauthkey != ''"> and AutoAuthKey = #{autoauthkey} </if>
		  		  <if test="cookies != null and cookies != ''"> and Cookies = #{cookies} </if>
		  		  <if test="currentsynckey != null and currentsynckey != ''"> and CurrentsyncKey = #{currentsynckey} </if>
		  		  <if test="devicename != null and devicename != ''"> and DeviceName = #{devicename} </if>
		  		  <if test="devicetype != null and devicetype != ''"> and DeviceType = #{devicetype} </if>
		  		  <if test="nickname != null and nickname != ''"> and NickName = #{nickname} </if>
		  		  <if test="username != null and username != ''"> and use_wechat.UserName = #{username} </if>
		  		  <if test="userext != null and userext != ''"> and UserExt = #{userext} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="listByRecently" resultType="com.bootdo.baseinfo.domain.WechatDO">
		select `id`,`uid`,`Wechat`,`Password`,`Data62`,`LastDate`,`TotalTaskQuantity`,`TodayTaskQuantity`,`Stauts`,`Remark`,`Createdate`,`Modifydate`,`Taskid`,`randomid`,`sessionkey`,`deviceid`,`maxsynckey`,`uin`,`AutoAuthKey`,`Cookies`,`CurrentsyncKey`,`DeviceName`,`DeviceType`,`NickName`,`UserName`,`UserExt` from use_wechat
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="uid != null and uid != ''"> and uid = #{uid} </if>
			<if test="wechat != null and wechat != ''"> and Wechat = #{wechat} </if>
			<if test="password != null and password != ''"> and Password = #{password} </if>
			<if test="data62 != null and data62 != ''"> and Data62 = #{data62} </if>
			<if test="lastdate != null and lastdate != ''"> and LastDate = #{lastdate} </if>
			<if test="totaltaskquantity != null and totaltaskquantity != ''"> and TotalTaskQuantity = #{totaltaskquantity} </if>
			<if test="todaytaskquantity != null and todaytaskquantity != ''"> and TodayTaskQuantity = #{todaytaskquantity} </if>
			<if test="stauts != null and stauts != ''"> and Stauts = #{stauts} </if>
			<if test="remark != null and remark != ''"> and Remark = #{remark} </if>
			<if test="createdate != null and createdate != ''"> and Createdate = #{createdate} </if>
			<if test="modifydatelessthanoneday != null and modifydatelessthanoneday != ''"> and modifydate &lt;= DATE_FORMAT(date_sub(curdate(),interval 1 day),'%Y-%m-%d %h:%i:%s') </if>
			<if test="modifydate != null and modifydate != ''"> and Modifydate = #{modifydate} </if>
			<if test="taskid != null and taskid != ''"> and Taskid = #{taskid} </if>
			<if test="randomid != null and randomid != ''"> and randomid = #{randomid} </if>
			<if test="sessionkey != null and sessionkey != ''"> and sessionkey = #{sessionkey} </if>
			<if test="deviceid != null and deviceid != ''"> and deviceid = #{deviceid} </if>
			<if test="maxsynckey != null and maxsynckey != ''"> and maxsynckey = #{maxsynckey} </if>
			<if test="uin != null and uin != ''"> and uin = #{uin} </if>
			<if test="autoauthkey != null and autoauthkey != ''"> and AutoAuthKey = #{autoauthkey} </if>
			<if test="cookies != null and cookies != ''"> and Cookies = #{cookies} </if>
			<if test="currentsynckey != null and currentsynckey != ''"> and CurrentsyncKey = #{currentsynckey} </if>
			<if test="devicename != null and devicename != ''"> and DeviceName = #{devicename} </if>
			<if test="devicetype != null and devicetype != ''"> and DeviceType = #{devicetype} </if>
			<if test="nickname != null and nickname != ''"> and NickName = #{nickname} </if>
			<if test="username != null and username != ''"> and UserName = #{username} </if>
			<if test="userext != null and userext != ''"> and UserExt = #{userext} </if>
		</where>
		order by createdate desc
		limit 1
	</select>

 	<select id="count" resultType="int">
		select count(*) from use_wechat
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uid != null and uid != ''"> and uid = #{uid} </if>
		  		  <if test="wechat != null and wechat != ''"> and Wechat = #{wechat} </if>
		  		  <if test="password != null and password != ''"> and Password = #{password} </if>
		  		  <if test="data62 != null and data62 != ''"> and Data62 = #{data62} </if>
		  		  <if test="lastdate != null and lastdate != ''"> and LastDate = #{lastdate} </if>
		  		  <if test="totaltaskquantity != null and totaltaskquantity != ''"> and TotalTaskQuantity = #{totaltaskquantity} </if>
		  		  <if test="todaytaskquantity != null and todaytaskquantity != ''"> and TodayTaskQuantity = #{todaytaskquantity} </if>
		  		  <if test="stauts != null and stauts != ''"> and Stauts = #{stauts} </if>
		  		  <if test="remark != null and remark != ''"> and Remark = #{remark} </if>
		  		  <if test="createdate != null and createdate != ''"> and Createdate = #{createdate} </if>
		  		  <if test="modifydate != null and modifydate != ''"> and Modifydate = #{modifydate} </if>
		  		  <if test="taskid != null and taskid != ''"> and Taskid = #{taskid} </if>
		  		  <if test="randomid != null and randomid != ''"> and randomid = #{randomid} </if>
		  		  <if test="sessionkey != null and sessionkey != ''"> and sessionkey = #{sessionkey} </if>
		  		  <if test="deviceid != null and deviceid != ''"> and deviceid = #{deviceid} </if>
		  		  <if test="maxsynckey != null and maxsynckey != ''"> and maxsynckey = #{maxsynckey} </if>
		  		  <if test="uin != null and uin != ''"> and uin = #{uin} </if>
		  		  <if test="autoauthkey != null and autoauthkey != ''"> and AutoAuthKey = #{autoauthkey} </if>
		  		  <if test="cookies != null and cookies != ''"> and Cookies = #{cookies} </if>
		  		  <if test="currentsynckey != null and currentsynckey != ''"> and CurrentsyncKey = #{currentsynckey} </if>
		  		  <if test="devicename != null and devicename != ''"> and DeviceName = #{devicename} </if>
		  		  <if test="devicetype != null and devicetype != ''"> and DeviceType = #{devicetype} </if>
		  		  <if test="nickname != null and nickname != ''"> and NickName = #{nickname} </if>
		  		  <if test="username != null and username != ''"> and UserName = #{username} </if>
		  		  <if test="userext != null and userext != ''"> and UserExt = #{userext} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.baseinfo.domain.WechatDO" useGeneratedKeys="true" keyProperty="id">
		insert into use_wechat
		(
			`uid`, 
			`Wechat`, 
			`Password`, 
			`Data62`,
			`Stauts`, 
			`Remark`,
			`Taskid`, 
			`randomid`, 
			`sessionkey`, 
			`deviceid`, 
			`maxsynckey`, 
			`uin`, 
			`AutoAuthKey`,
			`Cookies`, 
			`CurrentsyncKey`, 
			`DeviceName`, 
			`DeviceType`, 
			`NickName`, 
			`UserName`, 
			`UserExt`
		)
		values
		(
			#{uid}, 
			#{wechat}, 
			#{password}, 
			#{data62},
			#{stauts}, 
			#{remark},
			#{taskid}, 
			#{randomid}, 
			#{sessionkey}, 
			#{deviceid}, 
			#{maxsynckey}, 
			#{uin}, 
			#{autoauthkey},
			#{cookies}, 
			#{currentsynckey}, 
			#{devicename}, 
			#{devicetype}, 
			#{nickname}, 
			#{username}, 
			#{userext}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.baseinfo.domain.WechatDO">
		update use_wechat 
		<set>
			<if test="uid != null">`uid` = #{uid}, </if>
			<if test="wechat != null">`Wechat` = #{wechat}, </if>
			<if test="password != null">`Password` = #{password}, </if>
			<if test="data62 != null">`Data62` = #{data62}, </if>
			<if test="lastdate != null">`LastDate` = #{lastdate}, </if>
			<if test="totaltaskquantity != null">`TotalTaskQuantity` = #{totaltaskquantity}, </if>
			<if test="todaytaskquantity != null">`TodayTaskQuantity` = #{todaytaskquantity}, </if>
			<if test="stauts != null">`Stauts` = #{stauts}, </if>
			<if test="remark != null">`Remark` = #{remark}, </if>
			<if test="taskid != null">`Taskid` = #{taskid}, </if>
			<if test="randomid != null">`randomid` = #{randomid}, </if>
		<!--	<if test="sessionkey != null">`sessionkey` = #{sessionkey}, </if>
			<if test="deviceid != null">`deviceid` = #{deviceid}, </if>
			<if test="maxsynckey != null">`maxsynckey` = #{maxsynckey}, </if>
			<if test="uin != null">`uin` = #{uin}, </if>-->
			<!--		<if test="autoauthkey != null">`AutoAuthKey` = #{autoauthkey}, </if>
                    <if test="cookies != null">`Cookies` = #{cookies}, </if>
                    <if test="currentsynckey != null">`CurrentsyncKey` = #{currentsynckey}, </if>
                    <if test="devicename != null">`DeviceName` = #{devicename}, </if>
                    <if test="devicetype != null">`DeviceType` = #{devicetype}, </if>
                    <if test="userext != null">`UserExt` = #{userext}, </if>-->
			<if test="nickname != null">`NickName` = #{nickname}, </if>
			<if test="username != null">`UserName` = #{username} </if>

		</set>
		where id = #{id}
	</update>

	<update id="updateForWechatId" parameterType="com.bootdo.baseinfo.domain.WechatDO">
		update use_wechat
		<set>
			<if test="lastdate != null">`LastDate` = #{lastdate}, </if>
			<if test="totaltaskquantity != null">`TotalTaskQuantity` = #{totaltaskquantity}, </if>
			<if test="todaytaskquantity != null">`TodayTaskQuantity` = #{todaytaskquantity}, </if>
			<if test="stauts != null">`Stauts` = #{stauts}, </if>
			<if test="remark != null">`Remark` = #{remark}, </if>
			<if test="taskid != null">`Taskid` = #{taskid} </if>
		</set>
		where randomid = #{randomid}
	</update>
	
	<delete id="remove">
		delete from use_wechat where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from use_wechat where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="wechatforJob" resultType="com.bootdo.baseinfo.domain.WechatDO">
        select t.`id`,t.`uid`,t.Wechat,t.`Password`,t.`Data62`,t.`LastDate`,t.`TotalTaskQuantity`,t.`TodayTaskQuantity`,t.`Stauts`,t.`Remark`,t.`Createdate`
        ,t.`Modifydate`,t.`Taskid`,t.`randomid`,t.`sessionkey`,t.`deviceid`,t.`maxsynckey`,t.`uin`,t.`AutoAuthKey`,t.`Cookies`,t.`CurrentsyncKey`,t.`DeviceName`
        ,t.`DeviceType`,t.`NickName`,t.`UserName`,t.`UserExt`,sys_user.parentId parentId from use_wechat t,sys_user
        where t.uid=sys_user.user_id and  sys_user.maxnum > t.TodayTaskQuantity and t.Taskid is null
		<if test="exclude != null and exclude.length >0">
			and not EXISTS(select WxId from wx_taskdetail where wx_taskdetail.WxId = t.id
			and wx_taskdetail.Stauts=1 and wx_taskdetail.Taskid in
			<foreach item="taskInfoIds" collection="exclude" open="(" separator="," close=")">#{taskInfoIds}
			</foreach>
		   )
		</if>
			<if test="lastdate != null and lastdate != ''"> and LastDate <![CDATA[<]]> #{lastdate} </if>
		<!--	<if test="todaytaskquantity != null and todaytaskquantity != ''"> and TodayTaskQuantity <![CDATA[<]]>  #{todaytaskquantity} </if>-->
			<if test="stauts != null and stauts.length >0">
				and t.Stauts  in
				<foreach item="stauts" collection="stauts" open="(" separator="," close=")">#{stauts}
				</foreach>
			</if>
			<!--<if test="stauts != null and stauts != ''"> and t.Stauts = #{stauts} </if>-->
			<if test="taskid != null and taskid != ''"> and t.Taskid = #{taskid} </if>
		<if test="limit != null">
			limit #{limit}
		</if>
	</select>

	<update id="batchUpdate">
		update use_wechat
		<set>
			<if test="lastdate != null">`LastDate` = #{lastdate}, </if>
			<if test="totaltaskquantity != null">`TotalTaskQuantity` = #{totaltaskquantity}, </if>
			<if test="todaytaskquantity != null">`TodayTaskQuantity` = #{todaytaskquantity}, </if>
			<if test="stauts != null">`Stauts` = #{stauts}, </if>
			<if test="remark != null">`Remark` = #{remark}, </if>
			<if test="taskid != null">`Taskid` = #{taskid} </if>
		</set>
		where id in
		<foreach item="id" collection="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

    <update id="relieveAllForTaskId">
        update use_wechat set Taskid = null  where taskid = #{taskid}
    </update>

    <update id="relieveStatus" parameterType="com.bootdo.baseinfo.domain.WechatDO">
        update use_wechat
        <set>
            <if test="lastdate != null">`LastDate` = #{lastdate}, </if>
            <if test="totaltaskquantity != null">`TotalTaskQuantity` = #{totaltaskquantity}, </if>
            <if test="todaytaskquantity != null">`TodayTaskQuantity` = #{todaytaskquantity}, </if>
            <if test="stauts != null">`Stauts` = #{stauts}, </if>
            <if test="remark != null">`Remark` = #{remark}, </if>
            <if test="taskid == null">`Taskid` = #{taskid}, </if>
            <if test="taskid != null">`Taskid` = #{taskid} </if>
        </set>
        where id = #{id}
    </update>
</mapper>